**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
DSA assignment 1/Assignment 1/nbproject/private/private.properties
DSA assignment 1/Assignment 1/nbproject/private/private.xml
